.profile {
	background-color: #ededed;
	margin: auto;
	width: 54.5%;
	padding: 10px;
	margin-top: 40px;
	border-radius: 5px;
	text-align: center;
}
.profile p {
	font-size: 20px;
}
.profile h2 {
	margin: 0px 5px;
	font-size: 30px;
}
.email {
	color: #aba9a9;
}
.profile img {
	margin-top: 15px;
}
.updateBtn {
	/* Basic link styling */
	border: 2px black solid;
	color: white;
	border-radius: 5px;
	font-size: 20px;
	margin-bottom: 10px;
}
.updateBtn:hover {
	transition: all 0.2s ease;
	color: #080808;
}
.profileImg {
	max-height: 95px;
}
