.recipe-list {
	--repeat: auto-fit;
}
@media (min-width: calc(300px * 3)) {
	.recipe-list {
		--repeat: 3;
	}
}

.recipe-list {
	display: grid;
	/* grid-template-columns: repeat(3, 300px); */
	grid-template-columns: repeat(
		var(--repeat, auto-fit),
		minmax(calc(300px * 1), 1fr)
	);
	justify-content: center;
	align-content: center;
	margin: 0 auto;
	max-width: 57%;
	margin-top: 10px;
	margin-bottom: 20px;
	height: auto;
}

.recipe {
	text-align: left;
	padding: 20px;
	border-radius: 5px;
	margin: 1em;
	transition: transform 0.3s ease-in-out;
}

.recipe a {
	background-color: #cccccc;
	color: black;
	text-decoration: none;
	padding: 0.5em;
	border-radius: 5px;
	position: relative;
	left: 34%;
	bottom: 0;
}
.recipe:hover {
	transform: rotate(3deg);
}
